[mysqld]
binlog_gtid_simple_recovery = 1
expire_logs_days=90
log-error=/usr/local/mysql/logs/err.log
general_log=on
general_log_file=/usr/local/mysql/logs/query.log
slow_query_log=on
long_query_time=3
slow_query_log_file=/usr/local/mysql/logs/slow_query.log
log-bin=mysql-bin
server-id=1
binlog-ignore-db=information_schema
binlog-ignore-db=cluster
binlog-ignore-db=mysql
binlog-do-db=audit_integral